# User-specific files
settings.json
workshop_scraper.json
comment_scraper.json
preview_validator.json
*.xml
gitignore.txt
DiscordUpdate.txt
LICENSE.md
.vs
obj
MigrationBackup
*.DotSettings.user
.fake
.ionide
*.nupkg
replacements.json.gz