<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Excluded>
    <exclude>[modpath]\.gitignore</exclude>
    <exclude>[modpath]\.git</exclude>
    <exclude>[modpath]\.gitmodules</exclude>
    <exclude>[modpath]\Source</exclude>
  </Excluded>
</Configuration>