<?xml version="1.0" encoding="utf-8"?>
<ModMetaData>
  <name>[modname]</name>
  <packageId>Mlie.[modnameclean]</packageId>
  <author>Mlie</author>
  <url>https://github.com/emipa606/[modnameclean]</url>
  <supportedVersions>
    <li>[version]</li>
  </supportedVersions>
  <modDependencies />
  <loadAfter />
  <description>[img]https://img.litet.net/logos/Self-Info.png[/img]

[modname]

[table]
    [tr] [td][url=https://discord.gg/h5TY6DA][img]https://img.litet.net/logos/Discord.png[/img][/url][/td] [td][url=https://github.com/emipa606/[modnameclean]][img]https://img.litet.net/logos/Github.png[/img][/url][/td]
    [/tr]
[/table]

[img]https://img.litet.net/logos/Self-SupportAndDonations.png[/img]
Since modding is just a hobby for me I expect no donations to keep modding. If you still want to show your support you can gift me anything from my [url=https://store.steampowered.com/wishlist/id/Mlie]Wishlist[/url] or buy me a cup of tea. [url=https://ko-fi.com/G2G55DDYD][img]https://img.litet.net/logos/Kofi-Small.png[/img][/url]

[img]https://img.litet.net/logos/Self-ReportingIssues.png[/img]
[list]
[*] See if the error persists if you just have this mod and its requirements active.
[*] If not, try adding your other mods until it happens again.
[*] Always post your log using the [url=https://steamcommunity.com/sharedfiles/filedetails/?id=2873415404]Log Uploader[/url]
[*] For best support, please use the Discord-channel for error-reporting.
[*] Do not report errors by making a discussion-thread, I get no notification of that.
[*] If you have the solution for a problem, please post it to the GitHub repository.
[*] Use [url=https://github.com/RimSort/RimSort/releases/latest]RimSort[/url] to sort your mods
[/list]
  </description>
</ModMetaData>