<?xml version="1.0" encoding="utf-8"?>
<ModSyncNinjaData>
  <ID>[guid]</ID>
  <ModName>[modname]</ModName>
  <Version>[version]</Version>
  <SaveBreaking>False</SaveBreaking>
  <Host name="Github">
    <Owner>[username]</Owner>
    <Project>[modwebpath]</Project>
    <AboutDir>About</AboutDir>
    <DownloadFrom>ModSyncMainPage</DownloadFrom>
    <Branch>master</Branch>
  </Host>
</ModSyncNinjaData>